body{
    margin: 0;
    font-family: 'Inter', sans-serif;

}
h3{
    margin-bottom: 5px;
}
p{
    margin: 0 0 40px 0;
    line-height: 1.7;
}
header, footer{
    display: flex;
    height: 10%;
    margin: 0 5px;
    justify-content: space-around;
    align-items: center;
}
#title{
    width: 50%;

}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: lightgrey;
}
#profile{
    width: 250px;
    height: 90%;
    border-radius: 48%;
    background-color: rgb(172, 86, 86);
}
.menu-items, .menu-items-f{
    display: flex;
    justify-content: space-between;
}
.menu-items > p, .menu-items-f > p {
    margin: 0 20px;
}
.content {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
}
.side {
    margin-right: 5%;
}
footer{
    display: none;
    background-color: grey;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    header, footer{
        display: flex;
        flex-direction: column;
    }
    header{
        height: 15%;
    }
    #profile{
        height: 80%;
        padding: 0;
    }
    .content {
        flex-direction: column;
    }
    .side{
        margin: 0;
    }
    .side > img{
        display: block;
        margin: auto;
    }
    .menu-items-f {
        height: 100px;
        width: 50%;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu-items-f > p{
        margin: 0 10px 0 0;
    }

}
